:root {
    --foreground: #171717;
    --primary: #a80000;
    --secondary: #171750;
    --parchment: #fcf5e5;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --foreground: #fcf5e5;
      --primary: #a80000;
      --secondary: #171750;
      --parchment: #171717;
    }
  }
  
  @theme inline {
    --primaryText: var(--parchment);
    --secondaryText: var(--parchment);
    --background: var(--parchment);
    --color-background: var(--background);
    --color-foreground: var(--secondary);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --font-sans: var(--font-caudex-sans);
    --font-bold: var(--font-caudex-sans-bold);
  }

  .title {
    font: var(--font-bold);
    font-weight: 700;
    font-size: xx-large;
    padding: 0em 0.2em;
    width: 100%;
    text-align: center;
  }
  .primary {
    background-color: var(--primary);
    color: var(--parchment);
  }
  .secondary {
    background-color: var(--secondary);
    color: var(--parchment);
  }

  .subtitle {
    font: var(--font-bold);
    font-weight: 700;
    font-style: italic;
    font-size: x-large;
    padding: 0em 0.2em;
    width: 100%;
    text-align: center;
  }

  .header, .main, .footer {
    border: 1px solid var(--foreground);
    width: 100%;
  }

  .main {
    color: var(--foreground);
    background-color: var(--parchment);
  }

  .header {
    background-color: var(--primary);
    color: var(--parchment);
    width: 100%;
  }

  .footer {
    background-color: var(--secondary);
    color: var(--parchment);    
    width: 100%;
  }