@import "tailwindcss";

:root {
  --foreground: #171717;
  --primary: #a80000;
  --secondary: #171750;
  --parchment: #fcf5e5;
  --background: #fcf5e5;
}

@theme {
  --color-background: #fcf5e5;
  --color-foreground: #171717;
  --color-primary: #a80000;
  --color-secondary: #171750;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--foreground);
    --foreground: var(--background);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
