@import "tailwindcss";
@import "../styles/guidelines.css";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.Main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}


.LeftView {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  width: 20%;
  height: 300px;
}

.MainView {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  width: 80%;
  height: 300px;
}

.buttonbar {
  display: flex;
  overflow-x: hidden;
  min-width: 100%;
  width: 100%;
  align-content: flex-end;
}
.buttonbar:last-child {
  margin:auto;
}