.item {

    flex-wrap: wrap;
    overflow-x:auto;
    border: solid 1px var(--color-foreground);
    background-color: var(--color-background);
    color: var(--color-foregrond);
}

.selectedItem {
    flex-wrap: wrap;
    overflow-x:auto;
    border: solid 1px var(--color-secondary);
    background-color: var(--color-foreground);
    color: var(--color-background);
}