.item {

    border: solid 1px var(--color-foreground);
    background-color: var(--color-background);
    color: var(--color-foregrond);
}

.selectedItem {
    border: solid 1px var(--color-secondary);
    background-color: var(--color-foreground);
    color: var(--color-background);
}

.noHScroll {
    overflow-x:hidden;
    max-width: 100%;
}

.HStretch {
    min-height: 100%;
}

.SpellTitleList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.SpellTitle {
    flex: 0 0 auto;
    word-wrap:break-word;
}